*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #FAFAFA;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}

header {
    background-color: #fff;
    box-shadow: 0px 1px 10px 0px rgb(209, 208, 208);
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 23px;
    padding-top: 23px;
}

#icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#icon i {
    cursor: pointer;
}

.back {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 136px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgb(209, 208, 208);
}

main img {
    border-radius: 10px;
}

.back {
    cursor: pointer;
}

.back p {
    background-color: transparent;
}

.country {
    display: flex;
    gap: 90px;
}

.allInfo {
    margin-top: 39px;
}

.allInfo .info {
    display: flex;
    gap: 75px;
}

.info span {
    font-size: 16px;
    font-weight: 600;
}

.left-side {
    display: flex;
    flex-direction: column;
    line-height: 32px;
    gap: 5px;
}

.right-side {
    display: flex;
    flex-direction: column;
    line-height: 32px;
    gap: 5px;
}

.info {
    margin-bottom: 35px;
}

.footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer span {
    color: #000;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 1px 10px 0px rgb(209, 208, 208);
}

.name {
    margin-bottom: 30px;
}





.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 5;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 5px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}








